.login-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90vh;
}

.login-container div {
    margin-top: 10px;
}

.forgot-link {
    color: rgb(148, 148, 148);
    font-size: 11px;
}

.forgot-container {
    margin-top: 5px !important;
}